body {
  width: 300px;
}

#before, #after {
  width: 95%;
}

#error-message {
  color: red;
}

/* ボタン */
/* 登録するボタン */
#register-button {
  display: block;
	margin: auto;
}
/* URLを変換するボタン */
#replace-button {
  display: block;
	margin: auto;
}

/* エラーメッセージ */
#error-message {
  margin-bottom: 20px;
}